#pggrooming1{
  background-image: url("Images/petGroomingbg.jpg");
  background-repeat:no-repeat;
 background-size: cover;
 padding-bottom: 10px;
}

#pg1box{
  color: white;
  background-color: rgba(0,0,0,0.8);
  height: 550px;
  width: 70%;
  position: relative;
  margin: 0 auto;
  padding-bottom: 4px;
  margin-top: 35px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: inset 0 0 19px white;
  /* padding: 0 60px; */
}

#pg1box h1{
  text-align: center;
  margin-bottom: 20px;
  padding: 0 60px;
  padding: 10px 0;
  color: white;
  background-color: rgba(91, 51, 118, 0.5);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.boxContent{
  padding: 10px 60px;
}

.boxContentDiv1{
  float: left;
  /* background-color: gold; */
  width: 55%;
  height: 250px;
  position: relative;
}

input[type=radio].color{
  padding: 40px;
  accent-color: orange;
  height: 18px;
  width: 18px;
  margin-left: 15px;
  margin-right: 5px;
  margin-bottom: 10px;
  /* display: grid; */
  /* grid-template-columns: 1em auto; */
  border: 5px solid red;
  padding-right: 50px;
}

.boxContent input{
}

#dog{
  /* margin-top: 6px; */
  /* margin-left: 15px; */
  margin-bottom: 30px;
}
#cat{
  /* margin-top: 6px; */
  margin-left: 65px;
  margin-bottom: 30px;
}

.boxContent img{
  /* background-color: blue; */
  height: 25px;
  width: 25px;
  margin-top: 10px;
  margin-bottom: -3px;
  /* padding-top: 10px; */
  /* padding-right: 5px; */
}

.boxContent span{
  position: absolute;
  top: 36px;
}

.boxContent span:hover{
  color: orange;
}

.service{
  height: 160px;
  width: 100%;
  background-color: rgba(200,200,200,0.4);
  border-radius: 15px;
  /* padding-left: 10px; */
  padding-right: 15px;
  padding-top: 20px;
}

.service p{
  font-weight: bold;
}
.service p:hover{
  color: orange;
  /* cursor: pointer; */
}

.cost{
  float: right;
  margin-top: 5px;
}

.boxContentDiv2{
  height: 250px;
  width: 36%;
  padding: 20px 4px 20px 20px;
  /* background-color: red; */
  float: right;
}

.boxContentDiv2 p{
  font-weight: bold;
}
.boxContentDiv2 input{
  height: 40px;
  width: 96%;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  padding-left: 15px;
  font-size: 16px;
}

.boxContentDiv2 button{
  margin-top: 20px;
  height: 50px;
  width: 102%;
  cursor: pointer;
  background-color: #9800ff;
  border-radius: 10px;
  font-size: 18px;
  color: white;
}

.foot{
  /* text-align: center; */
  position: absolute;
  width: 86%;
  bottom: 30px;
  line-height: 22px;
  font-size: 14px;
  font-weight: lighter;
}


/* PAGE 2 GROOMING CARDS */

#pggrooming2{
  color: white;
  /* background-color: #1a1a1a; */
  /* background-image: url("Images/pg2_2bg3.jpg"); */
  background-image: linear-gradient(#9800ff,#d900ff);
  /* background-image: url("Images/pggrooming2.jpg"); */
  /* filter: brightness(90%); */
  border-top: 1px solid black;
  /* height: 600px; */
  position: relative;
  padding: 40px 30px;
}

#pggrooming2 h1{
  text-align: center;
  font-size: 40px;
}

#pggrooming2_21{
  display: block;
  height: 410px;
}
#pggrooming2_22{
  display: none;
  height: 488px !important;
}
#pggrooming2_23{
  display: none;
  height: 410px;
}
#pggrooming2_24{
  display: none;
  height: 450px;
}
#pggrooming2_25{
  display: none;
  height: 440px;
  width: 63%;
}
#pggrooming2_25 li{
  font-size: 15px;
}

.deletepricegrooming{
  color:red;
  margin-top:30px;
  position: absolute;
  right:50px;
  bottom:70px;
}

.pricegrooming{
  color:#00cd00;
  position:absolute;
  right:50px;
  bottom:35px;
}
#pggrooming2_22{
}
small{
  font-size: 17px;
  color: #4600ff;
  text-align: center;
}

.leftdiv{
  float: left;
  /* background-color: blue; */
  margin-left: 20px;
  width: 40%;
}

.rightdiv{
  float: right;
  /* background-color: red; */
  margin-right: 40px;
  width: 38%;
}
